* {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(24, 23, 23);
  color: rgb(40, 241, 0);
  font-family:'Courier New', Courier, monospace;
}

header {
  padding-top: 3vh;
  flex: 1 1 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header > h1 {
  font-size: 200%;
}
header > h2 {
  font-size: 150%;
  margin-top: 1vh;
}

main {
  flex: 1 1 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundRadioForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.roundRadio {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type='radio'] {
  accent-color: rgb(40, 241, 0);
}

.roundRadio > input {
  border: 2px solid rgb(40, 241, 0);
}

.roundRadio > input:hover {
  cursor: pointer;
}

.roundSelection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.matchScreen {
  display: flex;
  flex-direction: column;
}

.weaponChoice {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.weapons {
  display: flex;
  gap: 10px;
}


.weapon,
.lastHumanChoice,
.lastComputerChoice {
  flex: 0 1 auto;
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
  aspect-ratio: 1/1;
}
.lastHumanChoice,
.lastComputerChoice {
  max-width: 80px;
  max-height: 80px;
}

.weapon:hover {
  cursor: pointer;
}


.weapon > img,
.lastHumanImg,
.lastComputerImg {
  max-height: 100%;
  max-width: 100%;
  min-height: 0;
  min-width: 0;
  border-radius: 50%;
}

.choices {
  margin-top: 25px;
  display: flex;
  gap: 20px;
  font-size: 80%;
  color:rgb(146, 247, 126)
}

.roundResult {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.roundWinner {
  font-size: 120%;;
}

.matchEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.matchEndWinner {
  font-size: 200%;
}

.roundButton, .playAgain {
  border: 3px solid rgb(26, 145, 2);
  background-color: rgb(222, 243, 218);
  color: rgb(146, 247, 126);
  border-radius: 10px;
  height: 70px;
  width: 200px;
  font-size: 150%;
  font-weight: 1000;
  -webkit-text-stroke: 1px rgb(21, 109, 3);
}
.roundButton:hover,
 .playAgain:hover {
  cursor: pointer;
}
footer {
  font-size: 75%;
  flex: 1 1 5vh;
}


.hidden {
  display: none;
}